@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

body {
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; /* Impede o scroll horizontal */
}

/*INFOS NOME e CAU*/
home {
    width: 100%;
    position: relative;
}
.home .content {
    position: absolute;
    align-items: center;
    left: 5%;
    top: 46%;
    color: #fff;
    z-index: 100;
    width: 80%;
    max-width: 600px;
}
.home .content h1 {
    font-family: "Megrim";
    color: #22422f;
    font-size: 4em;
}
.home .content h4 {
    font-size: 1rem;
    padding: 0 14px;
    font-family: "Source Serif 4";
    font-weight: 300;
    color: #fff;
}
@keyframes animaTexto {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.home .content h1,
.home .content h4 {
    transform: translateY(60px);
    opacity: 0;
    animation: animaTexto 0.5s ease-in-out 0.7s forwards;
}
.home .content h1 {
    animation-delay: 1s;
}

/*HOME RESPONSIVO*/
@media (max-width: 1024px) {
    .home .content h1 {
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .home .content {
        top: 47%;
        left: 8%;
        max-width: 90%;
    }
    .home .content h1 {
        font-size: 2.5em;
    }
    .home .content h4 {
        font-size: 0.9rem;
        padding: 0 8px;
    }
}

@media (max-width: 480px) {
    .home .content {
        top: 47%;
        left: 8%;
    }
    .home .content h1 {
        font-size: 2em;
    }
    .home .content h4 {
        font-size: 0.8rem;
    }
}
/*FIM DAS INFOS NOMEe CAU*/

/* PÁGINA DO SLIDER */
.slider {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider .slider-container .slider-box {
    position: absolute;
    inset: 0;
    overflow: hidden;
    transition: 1.5s ease-in-out;
}
.slider .slider-box img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.slider-box {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.slider .slider-container .slider-box.ativo {
    display: flex;
    opacity: 1;
    z-index: 1;
}

/*BOTÃO DE NAVEGAÇÃO*/
.btn-nav-box {
    position: absolute;
    width: 100%;
    bottom: 50px;
    display: flex;
    z-index: 777777;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-nav-box .btn-nav {
    width: 30px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    margin: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}
.btn-nav-box .btn-nav.ativo {
    background-color: #22422f;
    transform: scale(1.3);
}
.btn-nav:hover {
    background-color: #22422f;
}

/*ESTILOS DAS SETAS*/
.setas {
    width: 100%;
    height: 100%;
    padding: 0 1%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 22222;
}
.setas button {
    width: 25px;
    height: 50px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 0;
    transition: 0.2s;
}

/*SLIDER RESPONSIVO*/
@media (max-width: 1024px) {
    .slider .slider-box img {
        height: 100vh;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .setas button {
        width: 20px;
        height: 40px;
        font-size: 1rem;
    }
}
/*FIM DA PÁGINA DO SLIDER*/

/*PÁGINAS DOS PROJETOS*/
.principal{
    background-color: #ffd24c;
    margin: auto;
    padding-top: 7%;
}
/*INFORMAÇÕES DO PROJETO*/
.info-projeto{
    display:flex;
    align-items:center;
    justify-content:center;
}
.texto-galeria{
    letter-spacing: 2px;
    padding: 50px;
    width: 65%;
    max-width: 100%;
}
.texto-galeria span{
    font-size: 0.9rem;
    color: #22422f;
    font-weight: 700;
    text-transform: uppercase;
}
.texto-galeria h2{
    padding: 30px 0;
    /*padding-bottom: 20px;*/
    font-family: 'Source Serif 4';
    font-size: 1.5rem;
    font-weight: 400;
    color: #22422f;
    text-transform: uppercase;
}
.texto-galeria p{
    font-family: 'Source Serif 4';
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
}
/*GALERIA DE FOTOS*/
.container-galeria{
    column-count:3;
    column-gap: 3px;
}

figure{
    margin:0 20px 0 7px;
    display: flex;
    padding: 0.2em 0.7em;
    margin-bottom: 10px;
    transition: 0.8s;
    overflow:hidden;
}

figure img{
    width: 100%;
    border-radius: 8px;
    transition: .8s all ease-in-out;
}
figure:hover  img{
    transform: scale(1.2);
    cursor:pointer;
}

/* PORTFÓLIO RESPONSIVO */
@media (max-width: 768px) {
    .container-galeria {
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .container-galeria {
        column-count: 1;
    }

    .texto-galeria {
        padding: 50px;
        width: 100%;
    }
}
/*FIM PÁGINAS DOS PROJETOS*/

/*PÁGINA DO SOBRE*/
section.sobre {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.sobre .text-sobre h2 {
    font-family: "Source Serif 4";
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.3;
    color: #b05d18;
}
span {
    color: #22422f;
}
.text-sobre p {
    font-family: "Source Serif 4";
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    color: black;
    text-align:justify;
}

.img-sobre img {
    margin: 8rem 4rem;
    padding: 4px 18px;
    width: 25vw;
    border-radius: 50%;
}
.img-sobre img:hover {
    font-size: 1.8rem;
    font-weight: 300;
}

.social-icons a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #22422f;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #22422f;
    font-size: 2rem;
    border-radius: 50%;
    margin: 25px 5rem 5% 20px;
    transition: 0.3s ease;
}
.social-icons a i:hover {
    color: #22422f;
    transform: scale(1.3) translateY(-5px);
    background-color: #bc885d;
}
/* SOBRE RESPONSIVO */
@media (max-width: 1024px) {
    section.sobre {
        flex-direction: column;
        gap: 2rem; /* reduz o espaço para ficar mais uniforme */
        padding: 65px 10%; /* mais uniforme nas laterais */
        align-items: center;
        text-align: center;
    }

    .sobre .text-sobre h2 {
        font-size: 3rem; /* menor e proporcional */
        line-height: 1.2;
        padding: 10px;
    }

    .text-sobre p {
        font-size: 1rem;
        line-height: 1.8;
        padding: 0 10px;
    }

    .img-sobre img {
        margin: 2rem 0;
        width: 50%; /* aumenta proporcionalidade na coluna */
    }

    .social-icons {
        padding: 2rem 0;
        justify-content: center;
        gap: 20px;
    }

    .social-icons a i {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.8rem;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    section.sobre {
        padding: 55px 5%;
        gap: 1.5rem;
    }

    .sobre .text-sobre h2 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .text-sobre p {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .img-sobre img {
        width: 70%;
        margin: 1.5rem 0;
    }

    .social-icons a i {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 0 5px;
    }
}
/*FIM PÁGINA DO SOBRE*/

/*PÁGINA DE CONTATO*/
.contact{
    background: #BC885D;
    background-image: url(./bg.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 150px 12%;
    min-height: 100vh;   
    align-items: start;    
}

.contact-info h2{
    font-family: 'Source Serif 4';
    font-size:32px;
    font-weight: 500;
    color:#22422F;
    margin-bottom: 15px;
    
}

.contact-info p{
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 18px;
}

.contact-info strong{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact-info a{
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}
.contact-info i{
    color: #BC885D;
    padding-right: 6px;
    font-size: 16px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label{
    font-weight: 600;
    font-size: 18px;
    padding-left: 1%;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    max-width: 600px;
    padding: 12px;
    background: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #a4a3a3;
}

.contact-form textarea{
    min-height: 120px;
    resize: vertical;
}

.contact-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    background-color: #BC885D;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:20%;
    transition: all 300ms ease;
    /*display: inline-block;
    margin-top: 10px;
    text-align: center;*/
}
.contact-form .btn-enviar:hover{
    background: #9f581f;
}

/* CONTATO RESPONSIVO */
@media (max-width: 1024px) {
    .contact {
        padding: 100px 10%;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
        padding: 80px 10%;
        gap: 30px;
    }

    .contact-form .btn-enviar {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .contact-info h2 {
        font-size: 24px;
    }

    .contact-form .btn-enviar {
        width: 100%;
    }
}
